body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

ul#argumentsPro, ul#argumentsContra {
    min-height: 150px;
}

ul#argumentsPro {
    background-color: lightgreen;
}

ul#argumentsContra {
    background-color: lightcoral;
}

.collapsible-header {
    position: relative;
    min-height: 0;
    line-height: inherit;
    padding: 1rem 1rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
}

.collapsible-header > div:nth-child(1) {
    margin-right: 50px;
}

.collapsible-header > div:nth-child(2) {
    position: absolute;
    top: 1rem;
    right: 0;
    font-weight: bold;
}

.collapsible-header span.material-icons {
    font-size: 14px;
}

.collapsible-body {
    background-color: white;
}

ul.trending > li {
    margin-bottom: 1rem;
}

li.gu-mirror {
    list-style-type: none;
}

.parallax-container {
    height: 300px;
}

textarea.materialize-textarea {
    padding: 0.8rem 0;
}

#searchForm {
    display: none;
}

#auto-complete {
    display: none;
    margin-bottom: 0;
}

#auto-complete ul.collection {
    margin-top: 0;
    margin-bottom: 0;
}

#auto-complete .progress {
    margin: 0;
    display: none;
}

li.liked .opinionTitle {
    font-weight: bold;
}
li.unliked .opinionTitle {
    text-decoration: line-through;
}

li.liked a.likeButton i {
    font-weight: bold;
}
li.unliked a.unlikeButton i {
    font-weight: bold;
}